// Blue
$_dark-blue: #2A343C;
$_soft-blue: #F5FAFE;
$_blue: #9EC3E0;
$_logo: #1186DA;

$_dark-green: #1F271F;
$_soft-green: #EFF9E9;
$_green:  rgba(200, 219, 191, 0.88);

$_dark-brown: #252019;

$_black: #2F2A25;
$_white: #fff;
$_gray: rgba(216, 218, 217, 0.32);

$_white-overally: rgba(255,255,255, 0.9);
$_blue-overally: rgba(176, 203, 235, 0.4);
$_green-overally: rgba(171, 221, 197, 0.31);
$_brown-overally: rgba(225, 215, 198, 0.29);


// Blue
$title-blue: $_dark-blue;
$background-blue: $_soft-blue;
$background-blue-dark: $_blue;

// Green
$title-green: $_dark-green;
$background-green: $_soft-green;
$background-green-dark: $_green;

// Brown
$title-brown: $_dark-brown;

// Overally
$white-overally: $_white-overally;
$blue-overally: $_blue-overally;
$green-overally: $_green-overally;
$brown-overally: $_brown-overally;

// General
$black: $_black;
$white: $_white;
$gray: $_gray;
$logo: $_logo;


