// Blue
$_title-blue: #2A343C;
$_background-blue: #F5FAFE;
$_background-blue-dark: #9EC3E0;

// Green
$_title-green: #1F271F;
$_background-green: #EFF9E9;
// $_background-green-dark: #9EC3E0;

// Brown
$_title-brown: #30291F;

// General
$_black: #2F2A25;
$_white: white;
