$_blue: #3972FF;
$_dark-blue: #191837;
$_cod-gray: #252631;
$_dove-gray: #98A9BC;
$_soft-grey: #f8fafb;
$_white: #fff;
$_boulder: #E8ECEF;

$primary-color: $_blue;
$primary-dark-color: $_dark-blue;

$text-color: $_cod-gray;
$text-muted-color: $_dove-gray;
$text-inverted-color: $_white;

$border-color: $_boulder;
$background-color: $_soft-grey;