@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-titles: 'Oswald', sans-serif;
$font-family: 'Roboto Condensed', sans-serif;
$font-damily-alternative: 'Roboto', sans-serif;

// Typography scale
$fs-base: 18;

$_fs-12: 12 / $fs-base + rem;
$_fs-14: 14 / $fs-base + rem;
$_fs-16: 16 / $fs-base + rem;
$_fs-18: 18 / $fs-base + rem;
$_fs-20: 20 / $fs-base + rem;
$_fs-26: 26 / $fs-base + rem;
$_fs-30: 30 / $fs-base + rem;
$_fs-50: 50 / $fs-base + rem;
$_fs-72: 72 / $fs-base + rem;
$_fs-129: 129 / $fs-base + rem;




// Typography applications

