@use "../settings/variables";

body {
  color: variables.$text-color;
  background-color: variables.$background-color;
  font-family: variables.$font-family;
  font-size: variables.$fs-base;
  line-height: 1.8;
}
