@use "../settings/variables";

h1,
h2{
  font-family: variables.$font-family-titles;
  line-height: 1.13;
}

h1 {
  font-size: variables.$fs-title-l;
  font-weight: bold;
}

h2 {
  font-size: variables.$fs-title-m;
}

h3 {
  font-size: variables.$fs-title-s;
}
