@use "../settings/variables";

h1,
h2,
h3 {
  font-family: variables.$font-family-titles;
}

h4,
h5,
h6,
p {
  font-family: variables.$font-family;
}

h1{
  font-size: variables.$title;
  font-weight: 400;
}

h2{
  font-size: variables.$title-m;
  font-weight: 400;
}

h3{
  font-size: variables.$title-s;
  font-weight: 400;
}

h4{
  font-size: variables.$subtitle;
  font-weight: 500;
}

p{
  font-size: variables.$text;
  font-weight: 300;
  margin: 1.5rem 0rem;
  line-height: 1.6rem;
}